/* -------Global-------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.clearfix ::after{
    content: "";
    clear: both;
    display: table; 
}
html{
    font-family: circular std, sans-serif;
    font-weight: 100;
}
body{ 
    width: 65%;
    margin: auto;
    background-image: url(bg-white.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    font-size: 40px;
    font-weight: 400;
    color: black;
}
h1{
    font-size: 35px;
    font-weight: 400;
    color: black;
}
h5{
    font-size: 25px;
    margin-top: 10px;
    color: black;
}
p{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(153, 165, 221);
    font-weight: 100;
    opacity: 0.8;
}

/* -------Nav-------*/
.nav{
    display: flex;
    align-items: center;
    height: 100px;
}
.contact, .navicons{
    flex: 1;
}
.navicons{
    text-align: right;
}
.navicons a, .contact a, .contact img{
    display: inline-block;
    vertical-align: middle;
}
.navicons a{
    margin-left: 40px;
}
.contact a{
    color: blue;
    text-decoration: none;
}
.contact img{
    margin-right: 10px;
}
.blue{
    color: blue;
}

/* -------Landing-------*/

.landing{
    height: 100vh;
    position: relative;
}
.landingwrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
ul{
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}
.landingl{
    margin-top: 4em;
}
.landingr{
    margin-top: 4em;
}
.scroll{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 160px;
}
/* -------Skill-------*/
.skill{
    text-align: center;
    margin-bottom: 20em;
}
.skill p{
    margin-bottom: 30px;
}
.skill img{
    margin: 2px;
}

/* -------work1-------*/
.work{
    width: 100%;
    position: relative;
    bottom: 20em;
}
.work > .worktext{
    position: absolute;
    top: 85px;

}
.work > .worktext > .underline{
    display: block;
    background-color: rgb(143, 8, 60);
    width: 61px;
    height: 3px;
    margin-top: 0px;
}
.work > .working{
    width: 85%;
    float: right;
    box-shadow : 0px 3px 70px 0px #b35c5c;
   -moz-box-shadow : 0px 3px 70px 0px #b3c452;
    box-shadow : 0px 3px 70px 0px #735dc0;
}
.work ul{
position: absolute;
bottom: -400px;
right: 86%;
}
.work2 ul li{
    margin-top: 20px;
}

/* -------work2-------*/
.work2{
    width: 100%;
    position: relative;
    margin-bottom: 20em;
    margin-top:20%;
}
.work2 > .worktext{
    position: absolute;
    top: 420px;
    right: 0;
    text-align: center;

}
.work2 > .worktext > .underline{
    display: block;
    background-color: rgb(143, 8, 60);
    width: 61px;
    height: 3px;
    margin-top: 5px;
    float: right;
}
.work2 > .working{
    width: 85%;
    float: left;
    box-shadow : 0px 3px 70px 0px #b35c5c;
   -moz-box-shadow : 0px 3px 70px 0px #b3c452;
    box-shadow : 0px 3px 70px 0px #735dc0;
}
.work2 ul{
position: absolute;
bottom: -780px;
left: 86%;
}
.work2 ul li{
    margin-top: 20px;
}

/*-------Footer-------*/
.footer{
    position: relative;
    bottom: -1100px;
 left: 47%;
}